body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #E38E49 ;
    justify-content: center; 
}
strong{
    color: #E38E49;
}
h1{
    color: #0A3981;
    font-weight: 600;
}
.container div{
    flex: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
    min-width: 200px;

}

.main{
    background-color: #D4EBF8;
    padding: 5%;
    margin: 3%;
    border-radius:1%;
}

.submit{
   border-radius: 25px;
   color:#E38E49;
   background-color: white; 
   padding: 20px;
   display: inline-block;
   transition: 1s;
   animation-fill-mode: backwards;
   position: relative;

}
.submit:hover{
    background-color: #E38E49;
    color: white;
    transform: scale(1.1);
    transition: 0.8s;
}
.submit:active, .submit:focus{
    background-color: #E38E49;
    color: white;
}
.submit:focus{
    animation: stay 0.5s forwards;
}
.submit:focus::after{
    content: "✓";
    position:absolute;
    right: 65px;
    bottom:17px;
    margin-left: 10px;
    color:white;
    font-size: 18px;
    animation: animate 0.5 ease-in-out forwards;}

    @keyframes name {
        0% {transform: translateY(-500px)}
        30% {transform: translateY(0px)}
        40% {
            transform: rotateY(180deg);
        }
        50% {
            transform: rotateY(360deg);
        }
        60% {
            transform: scale(1.2);
        }
        80% {transform: scale(1);}
    }
    .name {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding-bottom: 0%;
    }
    h1 {
        color: #0A3981;
        font-weight: 600;
        position: relative;
        transform-origin: 100px;
        animation: name 5s ease-in forwards;
    }