$primary: #82adfc;
$warning: navy;
$success: gold;
$danger: rgb(242, 242, 242);
$info: lightgray;
$black:#eef3fc;
$max-width-custom: 600px;
.form-container {
    max-width: $max-width-custom; margin: 0 auto;}
@import '../node_modules/bootstrap/scss/bootstrap'